<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
  <nav >
            <ul>
                <li><a href="http://localhost:3000/items" >Products</a></li>
                <li><a href="http://localhost:3000/category" >Categories of Products</a></li>
                <li><a href="http://localhost:3000/items/addItem" >Add product</a></li>
                <li><a href="http://localhost:3000/category/addCategory" >Add category</a></li>
            </ul>
  </nav>


  <table>
    <tr>
      <th>Category</th>
    </tr>
    <% categorys.forEach(category => { %>
        <tr>
          <td><%=category %></td>
          <td>
           <% if (category !== "other"){ %>
              <form  method="POST" action="/category/deleteCategory">
                <button type="submit">Delete</button>
                <input type="hidden" name="category" value="<%- category %>" >
              </form>
            <% } %>
          </td>
          <td>
           <% if (category !== "other"){ %>
              <form  method="POST" action="/category/changeCategoryName">
                <button type="submit">Change</button>
                <input type="hidden" name="oldCategory" value="<%- category %>" >
              </form>
            <% } %>
          </td>
        </tr>  
    <% }); %> 

</table>
 

</body>
</html>